.player{
  border-left: 1px solid rgba(255, 255, 255, 0.459);
  height: 100vh;
  overflow: hidden;
  padding: 15px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  b{
    font-size: 12px;
    opacity: .7;
  }
  .cover{
    margin-top: 15px;
    width: 100%;
  }
  .music_controll{
    display: flex;
    padding: 0;
    justify-content: space-between;
    li{
      list-style-type: none;
      align-items: center;
      display: flex;
      padding: 10px;
      &.prev{
        transform: rotate(180deg);
      }
      img{
        cursor: pointer;
        opacity: .7;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  .next_musics{
    overflow-y: scroll;
    height: 250px;
    /* width */
    &::-webkit-scrollbar {
      width: 4px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba(2, 2, 2, 0.219); 
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.582); 
    }
    .music{
      display: flex;
      font-size: 11px;
      align-items: center;
      opacity: .5;
      &:hover{
        opacity: 1;
        cursor: pointer;
      }
      img{
        width: 35px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .artist{
        opacity: .5;
      }
    }
  }
}

.colapse{
  padding: 0;
  width: 60px;
  position: absolute;
  right: 0;
  b, .next_musics{
    display: none;
  }
  .music_controll{
    align-items: center;
    flex-direction: column;
    & :nth-child(1){order: 4;}
    & :nth-child(2){order: 3;}
    & :nth-child(3){order: 1;}
    & :nth-child(4){order: 2;}
    & :nth-child(5){order: 5;}
    li{
      border-bottom: 1px solid rgba(255, 255, 255, 0.644);
      padding: 15px;
      text-align: center;
      width: 100%;
      &.prev{
        border-top: 1px solid rgba(255, 255, 255, 0.644);
        border-bottom: 0;        
      }
      img{
        display: table;
        margin: auto;
      }
    }
  }
}